<form method="post" action="{{ path('app_scheduleevening_delete', {'id': scheduleevening.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cet horaire?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scheduleevening.id) }}">
	<button class="btn btn-danger btn-lg mt-4">Supprimer</button>

</form>
