{% extends 'base.html.twig' %}

{% block title %}
	ReadMe
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1 class="text-center">MODE D'EMPLOI DU SITE</h1>

		<p>Ce site a été réalisé suivant le cahier des charges de l'organisme de formation Studi.</p>

		<p>Cette application permet à un administrateur:</p>
		<ul>
			<li>de se connecter</li>
			<li>de gérer sa carte, d'insérer une photo de ses plats</li>
			<li>de gérer les menus</li>
			<li>de gérer les horaires</li>

		</ul>

		<p>Le client peut réserver sa table. L'administrateur recevra alors un mail de confirmation. Le client peut créer un compte et signaler des allergies.</p>
		<p>Le visiteur peut réserver une table. L'administrateur recevra un mail.</p>
	</div>


{% endblock %}
