{% extends 'base.html.twig' %}

{% block title %}Modifier une réservation
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Modifier une réservation</h1>

		{{ include('pages/reservation/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_reservation_index') }}">Retour à la liste</a>


		{{ include('pages/reservation/_delete_form.html.twig') }}</div>

{% endblock %}
