<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>


		<h2></h2>
		<h3>
			{{ user.firstname }}
			{{ user.lastname }}
			a réservé le
															
															pour
									
									à


		</h3>
		<p>Allergie:
		</p>
		<p>Téléphone:
			{{ user.phone }}</p>

		<p>Cordialement</p>
		<p>Le Quai Antique</p>
	</body>
</html>
