{% extends 'base.html.twig' %}

{% block title %}Carte
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Carte</h1>

		<table class="table">
			<thead>
				<tr>

					<th>Nom</th>
					<th>Description</th>
					<th>Categorie</th>
					<th>Prix</th>

				</tr>
			</thead>
			<tbody>
				{% for meal in meals %}
					<tr>

						<td>{{ meal.title }}</td>
						<td>{{ meal.description }}</td>
						<td>{{ meal.category.title }}</td>
						<td>{{ meal.price }}
							€</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas de plats</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
