{% extends 'base.html.twig' %}

{% block title %}Nouveau plat
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1>Créer un nouveau plat</h1>

		{{ include('pages/meal/_form.html.twig') }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_meal_index') }}">Retour à la liste</a>

	</div>

{% endblock %}
